*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}
.logo{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    
}
.nav-menu {
    display: flex;
    gap: 0.8rem;
    color: #ffff;
}
.nav{
    display: none;
}

header{
   
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/assets/images/assets-img/assets-img/hero.webp);
    background-position: center center;
    background-repeat: no-repeat;
    max-width:900px;
    height: 812px;
    display: flex;
    flex-direction: column;
}
.hero li{
    font-family: Dosis, sans-serif;
}

/*This is css styles for the hero section*/
/* .hero{
    position: relative;
    width: 30%;
    height: 8rem;
    margin-left: auto;
    margin-right: auto;
    top: 250px;
    background: rgba(255, 255, 255, 0.83);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
    text-align: center;
    font-size: 2rem;
    justify-content: center;
} */
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 15px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 2rem;
    align-self: center;
    width: 330px;
    height: 171px;
    margin: auto auto;

    
}
a{
    color: black;
}
.hero li{
    list-style: none;
}
.hero h1{
font-size: 26px;
}
.btn{
    color: black;
    font-size: 16px;
}


@media (min-width: 900px) {
    .nav{
       display: flex;
       position: absolute;
       width: 379px;
       height: 26px;
       left: calc(50% - 379px/2 + 17.5px);
       top: 20px;

    }
    .nav li{
        list-style: none;
        margin: 1rem; 
    }
    a{
        color: white;
        font-weight: 20px;
        text-decoration: none;
    }

}